/* You can add global styles to this file, and also import other style files */
app-cell div {
    border-style: solid;
    border-width: 1px;
    height: 20px;
    width: 20px;
    margin: 1px;
}

app-cell div.alive{
    background: black
}

app-cell div.dead{
    background: white
}


.row {
    margin-bottom: -5px;
    display: inline-block
}